# Verhalten
EXTRACT_ARCHIVES=true
REMOVE_ARCHIVES=true
MAX_THREADS=3

# Pfade (verwenden Sie absolute Pfade oder $pwd für das Skript-Verzeichnis)
FILES_DIR=/uploads
DOWNLOADS_DIR=/files

# TMDB API
TMDB_API_KEY=YOUR-KEY-HERE

# Passwörter
START_PASSWORD=letsgo
STOP_PASSWORD=stopmedaddy